//------------------------//
//       VARIÁVEIS        //
//------------------------//

//--GOOGLE FONTS-----//
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

//--FONTS FAMILY-----//
$ff-body: "Inter", sans-serif;
$ff-heading: "Lexend Deca", sans-serif;

//--FONTS WEIGTH-----//
$fw-400: 400;
$fw-700: 700;

$font-weight : (
  "regular":   $fw-400,
  "bold":      $fw-700
);

//--FONTS SIZES-------//
$fsize-base:    1rem;  // 16
$fsize-sm:      $fsize-base * .875;
$fsize-lg:      $fsize-base * 1.25;
$fsize-h1:      $fsize-base * 2.5;
$fsize-h2:      $fsize-base * 2;
$fsize-h3:      $fsize-base * 1.75;
$fsize-h4:      $fsize-base * 1.5;
$fsize-h5:      $fsize-base * 1.25;
$fsize-h6:      $fsize-base;

$font-sizes: (
  "base": $fsize-base,
  "sm":   $fsize-sm,
  "lg":   $fsize-lg,
  "h1":   $fsize-h1,
  "h2":   $fsize-h2,
  "h3":   $fsize-h3,
  "h4":   $fsize-h4,
  "h5":   $fsize-h5,
  "h6":   $fsize-h6
);

//--LINE HEIGHT-----//
$line-h-base: 1.5;
$line-h-sm:   1.25;
$line-h-lg:   2;

$line-height: (
  "base" : $line-h-base,
  "sm" :   $line-h-sm,
  "lg" :   $line-h-lg,
);

//--SIZES & SPACE------//
$ss-1: 0.25rem;    // 4  if 1rem=16
$ss-2: 0.5rem;     // 8
$ss-3: 0.75rem;    // 12
$ss-4: 1rem;       // 16
$ss-5: 1.25rem;    // 20
$ss-6: 1.5rem;     // 24
$ss-7: 1.75rem;    // 28
$ss-8: 2rem;       // 32
$ss-9: 2.5rem;     // 40
$ss-10: 3rem;      // 48
$ss-11: 3.25rem;   // 52
$ss-12: 3.5rem;    // 56
$ss-13: 3.75rem;   // 60
$ss-14: 4rem;      // 64
$ss-15: 4.5rem;    // 72

//--COLOR SYSTEM----//

//--PRIMARY COLOR ----//
$theme-very-dark-blue:        hsl(233, 47%, 7%);
$theme-dark-desaturated-blue: hsl(244, 38%, 16%);
$theme-soft-violet:           hsl(277, 64%, 61%);

$theme-color-bg:     $theme-very-dark-blue;
$theme-color-card:   $theme-dark-desaturated-blue;
$theme-color-accent: $theme-soft-violet;

//--NEUTRAL COLOR ----//
$theme-white:                 hsl(0,0%,100%);
$theme-transparent-white-100: hsla(0, 0%, 100%, 0.75);
$theme-transparent-white-200: hsla(0, 0%, 100%, 0.6);

$theme-neutral-100: $theme-white;
$theme-neutral-200: $theme-transparent-white-100;
$theme-neutral-300: $theme-transparent-white-200;

//--BOX SHADOW----//
$box-shadow-1:
0 1px 1px rgba(0,0,0,0.15),
0 2px 2px rgba(0,0,0,0.15),
0 4px 4px rgba(0,0,0,0.15),
0 8px 8px rgba(0,0,0,0.15);

$box-shadow-2:
0 1px 1px rgba(0,0,0,0.12),
0 2px 2px rgba(0,0,0,0.12),
0 4px 4px rgba(0,0,0,0.12),
0 8px 8px rgba(0,0,0,0.12),
0 16px 16px rgba(0,0,0,0.12);


$shadow-sharp:   $box-shadow-1;
$shadow-diffuse: $box-shadow-2;